<div class="comic-show">
  <img src="{{model.thumbnail.path}}.{{model.thumbnail.extension}}">
  <div>
    <h1>{{model.title}}</h1>
    <p>
      <strong>Published:</strong> {{model.publishedAt}}<br>
      <strong>Added to Marvel Unlimited:</strong> {{model.addedAt}}
    </p>
    <p>{{model.description}}</p>
  </div>
</div>

